<section class="catalog-section" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-name">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog1.png    1x,
              ./img/catalog/catalog1-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/catalog/catalog1-tab.png    1x,
              ./img/catalog/catalog1-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/catalog1-mob.png    1x,
              ./img/catalog/catalog1-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/catalog/catalog1.png"
            alt="Fenix 7X Pro Sapphire Solar"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-imfo">
          <h3 class="catalog-item-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-item-prc">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog2.png    1x,
              ./img/catalog/catalog2-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/catalog/catalog2-tab.png    1x,
              ./img/catalog/catalog2-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/catalog2-mob.png    1x,
              ./img/catalog/catalog2-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/catalog/catalog2.png"
            alt="Marq Athlete"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-imfo">
          <h3 class="catalog-item-name">Garmin Marq Athlete</h3>
          <p class="catalog-item-prc">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog3.png    1x,
              ./img/catalog/catalog3-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/catalog/catalog3-tab.png    1x,
              ./img/catalog/catalog3-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/catalog3-mob.png    1x,
              ./img/catalog/catalog3-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/catalog/catalog3.png"
            alt="Descent MK1"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-imfo">
          <h3 class="catalog-item-name">Garmin Descent MK1</h3>
          <p class="catalog-item-prc">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog4.png    1x,
              ./img/catalog/catalog4-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/catalog/catalog4-tab.png    1x,
              ./img/catalog/catalog4-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/catalog4-mob.png    1x,
              ./img/catalog/catalog4-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/catalog/catalog4.png"
            alt="D2 Delta PX"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-imfo">
          <h3 class="catalog-item-name">Garmin D2 Delta PX</h3>
          <p class="catalog-item-prc">€380</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog5.png    1x,
              ./img/catalog/catalog5-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/catalog/catalog5-tab.png    1x,
              ./img/catalog/catalog5-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/catalog/catalog5.png"
            alt="Fenix 6 Pro"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-imfo">
          <h3 class="catalog-item-name">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-item-prc">€400</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/catalog/catalog6.png    1x,
              ./img/catalog/catalog6-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/catalog/catalog6-tab.png    1x,
              ./img/catalog/catalog6-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/catalog/catalog6.png"
            alt="Tube Watch"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-imfo">
          <h3 class="catalog-item-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-item-prc">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-btn">Show more</button>
  </div>
</section>
