<header class="header">
  <div class="header-container">
    <nav class="nav">
      <a href="" class="logo">watchcharm</a>
      <ul class="nav-list">
        <li class="nav-item current">
          <a href="" class="item ">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">About Us</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">Catalog</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">Sale</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">Reviews</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="social-link">
        <a href="https://www.facebook.com/goITclub/" class="link" target="_blank">
          <svg width="20" height="20" class="icon" aria-label="facebook icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="https://www.instagram.com/goitclub/" class="link" target="_blank">
          <svg width="20" height="20" class="icon" aria-label="instagram icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="https://www.youtube.com/c/GoIT" class="link" target="_blank">
          <svg width="20" height="20" class="icon" aria-label="youtube icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="menu-open-btn">
      <svg width="34" height="34" class="icon-burger">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <!--menu-->
  <div class="header-menu">
    <div>
      <button type="button" class="header-menu-close-btn">
        <svg width="34" height="34" class="icon-close">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="menu-nav-list">
        <li class="menu-nav-item current">
          <a href="" class="item ">Home</a>
        </li>
        <li class="menu-nav-item">
          <a href="" class="item">About Us</a>
        </li>
        <li class="menu-nav-item">
          <a href="" class="item">Catalog</a>
        </li>
        <li class="menu-nav-item">
          <a href="" class="item">Sale</a>
        </li>
        <li class="menu-nav-item">
          <a href="" class="item">Reviews</a>
        </li>
        <li class="menu-nav-item">
          <a href="" class="item">Contact Us</a>
        </li>
      </ul>
      </nav>
    </div>

    <ul class="menu-header-social-list">
      <li class="menu-social-link">
        <a href="https://www.facebook.com/goITclub/" class="link" target="_blank">
          <svg width="20" height="20" class="icon" aria-label="facebook icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-link">
        <a href="https://www.instagram.com/goitclub/" class="link" target="_blank">
          <svg width="20" height="20" class="icon" aria-label="instagram icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-link">
        <a href="https://www.youtube.com/c/GoIT" class="link" target="_blank">
          <svg width="20" height="20" class="icon" aria-label="youtube icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>