<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="" class="logo">watchcharm</a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="item current">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">About Us</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">Catalog</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">Sale</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">Reviews</a>
        </li>
        <li class="nav-item">
          <a href="" class="item">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="social">
      <li class="social-link">
        <a href="" class="link" target="_blank">
          <svg width="20" height="20" class="icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="" class="link" target="_blank">
          <svg width="20" height="20" class="icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a href="" class="link" target="_blank">
          <svg width="20" height="20" class="icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="menu-open-btn">
      <svg width="34" height="34" class="icon-burger">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  
</header>
